<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pregunta2 - Chat</title>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>

    <div id="data" style="display:none;">
        <div class="info" id="userId">{{userId}}</div>
        <div class="info" id="userName">{{userName}}</div>
    </div>

    <div id="chatControls">
        <input id="message" placeholder="Type your message">
        <button id="send">Send</button>
        <form action="/" method="get">           
            <button id="back">Back</button>
        </form>
    </div>
    <ul id="userlist">
        <!-- Built by JS -->
    </ul>
    <div id="chat">    <!-- Built by JS --> </div>
    <script src="../../js/chat.js"></script>
</body>
</html>
