<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <title> Pregunta2 - Ranking </title>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    } 
    th{
      font-size:48;
    }
    td{
      font-size:36;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
 
  </style>
  <body>
    <div class="container">
      <p><a href="">Top 10</a></p>
    </div>
    <div class="center">
      <table>
        <tr style="background:#179b77;">
          <th>Usuario</th>
          <th>Puntaje</th>  
        </tr>
        {{#ranking}}
          <tr>
            <td><b>{{username}}</b></td>
            <td>{{score}}%</td>
          </tr>
        {{/ranking}}
      </table>
    </div>
    <div style="margin-top: 10px">
      <form action="/menu" autocomplete="on" method="get">
        <input class="button" type="submit" value="Volver al menu">
      </form>
    </div>
  </body>
</html>