<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Puntaje</title>
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

  <div >
    <p style="font-size:72px;color:blue;">
      Su porcentaje de aciertos es del {{user_score}}%
    </p>
  </div>
  
  <div>
    <form action="/menu" autocomplete="on" method="get">
      <input class="button" type="submit" value="Volver al menu">
    </form>
  </div>


</body>
</html>

