<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Play</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  
  <div id="data" style="display:none;">
    <div class="info" id="userId">{{userId}}</div>
    <div class="info" id="userName">{{userName}}</div>
  </div>

  <div class="container">
    <p style="font-size:72px;color:black;"><a id="question">
       <!-- Made in JavaScript --> 
    </a></p>
  </div>
  
  <div id="main">
    <form id="options" action="#" onsubmit='showMessage("Esperando respuesta del oponente");return false'>
       <!-- Made in JavaScript --> 
    </form>
  </div>
  <div id="timer"> <!-- Made in JavaScript --> </div>
  <script src="../../js/battlemode.js" type="text/javascript"></script>

</body>
</html>

