<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Trivia App</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/style.css">
 
</head>

<body>
  <div class="container">
    <p><a href="">
      Pregunta2
    </a></p>
  </div>
  
  <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Sign Up</h1>
          
          <form name="register" action="/sign_up" method="post">
          
          <div class="field-wrap">
            <label>
              Ingrese su Username<span class="req">*</span>
            </label>
            <input type="username"required autocomplete="off" name="username" />
          </div>
          
          <div class="field-wrap">
            <label>
              Ingrese su Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="password"/>
          </div>
          
          <button type="submit" class="button button-block"/>Get Started</button>
          
          </form>

        </div>
        
        <div id="login">   
          <h1>Bienvenido!</h1>
          
          <form action="/login" method="post">
          
            <div class="field-wrap">
            <label>
              Username<span class="req">*</span>
            </label>
            <input type="username"required autocomplete="off" name="username"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="password"/>
          </div>
          
          <button class="button button-block"/>Log In</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->

{{#error_sign_up}}
  <h1>Usuario existente</h1>
{{/error_sign_up}}
{{#sign_up_ok}}
  <h1>Usuario creado correctamente</h1>
  <h1>Ingrese al sistema</h1>
{{/sign_up_ok}}
{{#error_login}}
  <h1>Usuario o contraseña incorrecta</h1>
{{/error_login}}

</div> <!-- /form -->
  <script src='js/jquery-3.2.1.min.js'></script>

    <script src="js/index.js"></script>


</body>
</html>
