<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Menu principal</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="container">
    <p><a href="">
      Pregunta2
    </a></p>
  </div>
  
  <div>
    <form action="/startSingleGame" method="get">
      <input class="button" type="submit" value="Jugar Partida">
    </form>
    <form action="/battleModeQueque" method="get">
      <input class="button" type="submit" value="Modo Batalla">    
    </form>
    <form action="/chat" method="get">
      <input class="button" type="submit" value="Chat">
    </form>
    <form action="/score" method="get">
      <input class="button" type="submit" value="Consultar puntaje">
    </form>
    <form action="/ranking" method="get">
      <input class="button" type="submit" value="Ranking">
    </form>
    <form action="/logout" method="get">
      <input class="button" type="submit" value="Salir">
    </form>
  </div>


</body>
</html>

