<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Bonus</title>
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

  <div class="container">
    <p><a>
      Bonus - Elige una categoria 
    </a></p>
  </div>
  
  <div>
    <form action="/bonus/ARTE_Y_LITERATURA" autocomplete="on" method="get">
      <input class="button" type="submit" value="ARTE">
    </form>
    <form action="/bonus/CIENCIA_Y_TECNOLOGIA" autocomplete="on" method="get">
      <input class="button" type="submit" value="CIENCIA">
    </form>
    <form action="/bonus/DEPORTES" autocomplete="on" method="get">  
      <input class="button" type="submit" value="DEPORTES">
    </form>
    <form action="/bonus/HISTORIA" autocomplete="on" method="get">  
      <input class="button" type="submit" value="HISTORIA">
    </form>
    <form action="/bonus/GEOGRAFIA" autocomplete="on" method="get">  
      <input class="button" type="submit" value="GEOGRAFIA">
    </form>
    <form action="/bonus/ENTRETENIMIENTO" autocomplete="on" method="get">  
      <input class="button" type="submit" value="RECREACION">
    </form>
  </div>


</body>
</html>

