<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Play</title>
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

  <div class="container">
    <p><a>
      Su respuesta fue {{res}}
    </a></p>
    <p style="font-size: 72px">
      Le quedan {{lifes}} vidas
    </p>
  </div>
  
  <div>
    <form action="/roulete" autocomplete="on" method="get">
      <input class="button" type="submit" value="Otra pregunta!">
    </form>
    <form action="/menu" autocomplete="on" method="get">
      <input class="button" type="submit" value="Volver al menu">
    </form>
  </div>

</body>
</html>