<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Play</title>
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <form action="/incorrect" autocomplete="on" method="get">
    <div class="container">
      <p><a>
        {{result}}
      </a></p>
    </div>
  </form>
  
  <div>
    <form action="/startSingleGame" autocomplete="on" method="get">
      <input class="button" type="submit" value="Iniciar Nuevo Juego">
    </form>
    <form action="/score" autocomplete="on" method="get">
      <input class="button" type="submit" value="Consultar puntaje">
    </form>
    <form action="/menu" autocomplete="on" method="get">
      <input class="button" type="submit" value="Volver al menu">
    </form>
  </div>

</body>
</html>